<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoteManager Login</title>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <h1>Login</h1>
    <div class="login-form">
        <form method="post" action="/login">
            <div class="form-input">
                <input id="name" type="text" name="email" placeholder="Email..."/>
            </div>
            <div class="form-input">
                <input id="pass" type="password" name="password" placeholder="Contraseña..."/>
            </div>
            <div class="form-submit">
               <button type="submit">LogIn</button>
            </div>
        </form>
    </div>
    <a id="register-link" href="http://localhost:3000/register">Registrarse</a>
</body>
</html>