:root {
    --primary-text-font: 'Courier New', Courier, monospace
}


body {
    text-align: center;
    background-color: lightgoldenrodyellow;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  tan;
}

.form-input {
    background-color: wheat;
    padding: 8px;
    display: flex;
    margin: 6px 0;
    align-items: center;
    justify-content: space-between;
}

.form-submit button {
    margin-top: 16px;
    font-family: var(--primary-text-font);
    font-size: 19px;
}

.register-form {
    height: 300px;
}

.login-form {
    height: 200px;
}

.login-form, .register-form {
    background-color: palegoldenrod;
    font-family: var(--primary-text-font);
    font-size: 19px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0 auto;
}



input {
    font-family: var(--primary-text-font);
    font-size: 19px;
    margin-left: 8px;
    padding: 4px;
    width: 20rem;
}

